/*
 * CSS file for Wendy's website!
 * By Jessie Yang
 */

:root{
    --header-height: 70px;
}

/*------------ Home ------------*/
body{
    background-color: white;
    margin: 0;
}

header{
    padding: 0 25px 0 0;
}

.logo{
    height: var(--header-height);
    max-width: auto;
}

/* Menu stuff */
/* TODO: When the window is too small, move to hamburger */
.menu{
    float: right;
    font-size: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
}

.menu td {
    height: var(--header-height);
    width: 120px;
    text-align: center;
    vertical-align: middle;
}

.menu td:hover {background-color: lightblue;}

/* Main */
/* .frontpage h1{
    margin: 50px 70px 70px;
    line-height: 60px;
    font-size: 50px;
} */

.frontpage {
    width: 90%;
    height: auto;
    padding: 20px 50px;
}

.map{
    width: 90%;
    height: auto;
    padding: 20px 50px 50px;
}

/* Footer */
footer{
    background-color: black;
    text-align: center;
    padding: 100px;
}
.footertext{
    color: white;
    font-size: 30px;
    letter-spacing: 2px
}
.icon{
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
    /* height: 5px; */
    width: 200px;
}
.icon img{
    width: 30px;
    height: auto;
}
